**/Icon*
**/src/main/history/
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.eml
*.iml
*.ipr
*.iws
*.orig
.DS_Store
.classpath
.idea/
.metadata/
.pmd*
.project
.recommenders/
.settings
.vagrant/
atlassian-ide-plugin.xml
bin/
classes/
distribution/
felix-cache/
lib/
out/
target/
synergy-data-bindings/
build/
.gradle/
cloverreports/
*.pkpass
.gradletasknamecache
